<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>
<div class="container">
    <div id="signupbox" style="margin-top:50px"
         class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title" th:text="${title}">Add/Edit a task</div>
            </div>
            <div class="panel-body">
                <form id="signupform" class="form-horizontal" role="form" th:object="${task}" method="post">

                    <div class="jumbotron alert alert-success" th:if="${param.success}">
                        <p>Task added successfully.</p>
                        <a th:href="@{'/projects/' + ${projectId}}">Back to project</a>
                    </div>
                    <div class="jumbotron alert alert-success" th:if="${param.successEdit}">
                        <p>Project Edited successfully.</p>
                        <a href="/projects">Back to projects</a>
                    </div>
                    <div class="jumbotron alert alert-danger" th:if="${errorTask}">
                        <p>Errors:</p>
                        <span th:errors="*{title}" class="error"></span><br>
                        <span th:errors="*{description}" class="error"></span>
                    </div>

                    <div class="form-group">
                        <label th:for="title" class="col-md-3 control-label">Title :</label>
                        <div class="col-md-9">
                            <input th:field="*{title}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label th:for="description" class="col-md-3 control-label">Description :</label>
                        <div class="col-md-9">
                            <textarea th:field="*{description}" class="form-control" rows="8"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label th:for="state" class="col-md-3 control-label">Task's state:</label>
                        <div class="col-md-9">
                            <select th:field="*{state}" class="form-control">
                                <option th:each="tstate : ${taskState}"
                                        th:text="${tstate.name}"
                                        th:value="${tstate}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label th:for="state" class="col-md-3 control-label">Assign to user:</label>
                        <div class="col-md-9">
                            <select name="u" class="form-control">
                                <option th:each="user : ${users}"
                                        th:text="${user.username}"
                                        th:value="${user.username}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-primary col-md-12"><i
                                    class="icon-hand-right"></i>
                                Save
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>